* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.2rem 1.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: #333;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navbar-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}
.navbar-links li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #6e49b2;
  transition: width 0.3s;
}
.navbar-links li a:hover::after {
  width: 100%;
}

.navbar-links li a:hover {
  color: #6e49b2;
}
