/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e2a38;
  padding: 20px 100px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #f5c518;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: #f5c518;
}
.navbar-links {
  list-style: none;
  display: flex;
  column-gap: 5rem;
}
.navbar-links li {
  position: relative;
}
.navbar-links li a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  color: #f5c518;
}
.navbar-links li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #e6b700;
  transition: width 0.3s;
}
.navbar-links li a:hover::after {
  width: 100%;
}
.menu-icon {
  display: none;
}
.navbar-links li a:hover {
  color: #e6b700;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    color: #f5c518;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: #1e2a38;
    padding: 20px 0;
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    margin-bottom: 20px;
    text-align: center;
  }

  .navbar {
    padding: 20px;
  }
}

