/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/searchbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.input {
  width: 100%;
  padding: 8px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/styles/trendingmovies.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.container {
  padding: 1.5rem;
}
.grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  gap: 2rem;
}
.card {
}
.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

